body {
    font-family: 'Roboto', sans-serif;
    background-image: url('logo_CURZA.png');
    background-repeat: no-repeat;
    background-position: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #3F51B5;
    color: white;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}
